<?xml version="1.0" encoding="utf-8"?>
<!--
  ~ Copyright (c) 2025-2026 fei_cong(https://github.com/feicong/feicong-course)
  -->
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:hasCode="false"
        android:label="@string/app_name">
        <meta-data
            android:name="yahfa.hook.plugin"
            android:value="true" />
    </application>

</manifest>
